@font-face {
  font-family: "Bebas";
  src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

body{
  background-color: rgb(42, 127, 253);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

header img{
  height: 200px;
  margin-right: 18px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 80vw;
  text-align: center;
  background-color: rgb(2, 169, 225);
  border-bottom: 2px solid white;
  font-family: "Bebas", Arial, Helvetica, sans-serif;
}

.search{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 250px 1fr;
  font-size: 20px;
  justify-items: center;
  margin-top: 32px;
  gap: 18px;
}


select{
  width: 800px;
  font-size: 32px;
}

label{
  font-size: 32px;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button{
  width: 200px;
  font-size: 24px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 18px;
}

button:hover{
  background-color: rgb(0, 255, 0);
}

.match{
  width: 60vw;
  background-color: white;
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 18px;
  margin-top: 18px;
  font-size: 18px;
  font-family: Arial;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 12px;
}

.score{
  font-size: 24px;
  font-weight: bold;
}

.season{
  font-style: italic;
}

.match p{
  font-style: italic;
  font-weight: bold;
}

.no-solutions{
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 32px;
}